ul.tabs{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.tabs li {
	display: inline-block;
	border: 1px lightgray solid;
	border-top-right-radius: 8%;
	border-top-left-radius: 8%;
	padding: 5px 20px;
	background-color: skyblue;
	margin-left: -5px;
}

ul.tabs li:first-of-type{
	margin-left: 0px;
}

ul.tabs li.active {
	display: inline-block;
	border: 0;
	border-top: 1px lightgray solid;
	padding: 5px 20px;
	background-color: white;
}

nav {
	border-bottom: lightgray solid 1px;
	padding: 0;
}

article.content > div.active {
	display: block;
}

article.content > div{
	padding: 10px;
	border: 1px lightgray solid;
	margin-bottom: 20px;
	display: none;
}

article.content > div:last-of-type{ 
	margin-bottom: 0px; 
} </style>'